body {
    background-color: rgb(124, 124, 236);

}
header {
    color: white;
    font: bold 16px;
    text-align: center;
}
section {
    background: white;
    max-width: 500px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.333);
    margin: auto;
    min-width: 180px;
}
div {
    /* text-align: center; */
    padding: 8px;
}
footer {
  
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}